body
{
    background-color: blanchedalmond;
}


h1
{
    color: rgb(63, 71, 49);
}

a
{
    text-decoration: none;
    font-family: Impact;
    padding: 10px;
    font-size: 16pt;
}

a:hover
{
    color: black;
    font-size: 18pt;
}